[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
sqlalchemy = "*"
pandas = "*"
tabula-py = "*"
psycopg2 = "*"
requests = "*"
tqdm = "*"
boto3 = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.11"
